---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
  CLOUDFLARE_TOKEN: "#{ cloudflare_token }#"
  CLUSTER_API_ADDR: "#{ cluster_api_addr }#"
  CLUSTER_GATEWAY_ADDR: "#{ cluster_gateway_addr }#"
  CLUSTER_DNS_GATEWAY_ADDR: "#{ cluster_dns_gateway_addr }#"
  NAS_SERVER: "#{ nas_server }#"
  NAS_PATH: "#{ nas_path }#"
  NAS_CODING_PATH: "#{ nas_coding_path }#"
  TTYD_CREDENTIAL: "#{ ttyd_credential }#"
